body{
    margin: 0;
    padding: 0;
    background-color: #F3E8FF;
    font-family: 'Lato','sans-sarif';
    box-sizing: border-box;
}
#logo-container img {
    width: 30px;
    height: auto
}

header{
    
}

#navbar{
    margin: 0 auto;
    width: 80%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: orange;

}